


          <ul class="nav nav-sidebar">

            <form class="navbar-form">
		            <input type="text" class="form-control" placeholder="Search...">
		         </form>
		         
          	<li><%#link_to "All Posts", dashboard_posts_path%></li>
          	<li><%#link_to "New Post", new_dashboard_post_path%></li>
          </ul>

S